<!-- achievement.component.html -->
<div class="container py-5">
    <div class="row text-center mb-5">
      <div class="col">
        <h1 class="display-4">My Achievements</h1>
        <p class="lead">Below are the notable achievements that I've earned throughout my career.</p>
      </div>
    </div>
  
    <div class="row g-4">
      <!-- Achievement 1 -->
       @for (item of achievementData; track $index) {

           <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
             <div class="card shadow-lg border-light rounded-3">
               <img [src]="item?.image" class="card-img-top" style="height:35vh" alt="Achievement 1 Image">
               <div class="card-body">
                 <h5 class="card-title text-success">{{item?.title}}</h5>
                 <div class="mb-3">
                   <strong>Date:</strong> {{item?.year}}
                 </div>
                 <div class="mb-3">
                   <strong>Description:</strong>
                   <p>{{item?.description}}</p>
                 </div>
               </div>
             </div>
           </div>
       }

    </div>
  </div>
  