<div class="container py-5">
    <div class="row text-center mb-5">
      <div class="col">
        <h1 class="display-4">My Experience</h1>
        <p class="lead">Here are some of the significant roles I've undertaken throughout my career.</p>
      </div>
    </div>
  
    <div class="row">
        @for (job of experienceData; track $index) {
            <div class="col-md-6 col-lg-6 mb-6" >
              <div class="card shadow-lg border-light rounded-3">
                <img [src]="job?.image" class="card-img-top" style="height:35vh" alt="Achievement 1 Image">
                <div class="card-body">
                  <h5 class="card-title text-primary">{{ job.position }} - {{ job.company }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Duration: {{ job.duration }}</h6>
                  <ul class="list-unstyled">
                    @for (responsibility of job.responsibilities; track $index) {
                        <li>
                          <p> {{ responsibility }}</p>
                        </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
        }
    </div>
  </div>
  