<div class="container py-5">
    <div class="row text-center mb-5">
      <div class="col">
        <h1 class="display-4">My Projects</h1>
        <p class="lead">Here are some of the significant projects I've worked on.</p>
      </div>
    </div>
  
    <div class="row">
      <!-- Iterate over the projects -->
       @for (project of projectData; track $index) {
           <div class="col-md-6 col-lg-4 mb-4">
             <div class="card shadow-lg border-light rounded-3">
                <img [src]="project?.image" class="card-img-top" style="height:35vh" alt="Achievement 1 Image">
               <div class="card-body">
                 <h5 class="card-title text-success">{{ project.title }}</h5>
                 <h6 class="card-subtitle mb-2 text-muted">Duration: {{ project.duration }}</h6>
                 <p class="card-text">{{ project.description }}</p>
                 <p><strong>Frontend:</strong> {{ project.frontend }}</p>
                 <p><strong>Backend:</strong> {{ project.backend }}</p>
                 <p><strong>Category:</strong> {{ project.category }}</p>
               </div>
             </div>
           </div>
       }
    </div>
  </div>
  